In [ ]:
import pandas as pd

In [ ]:
data = {
    "Category": ["A", "A", "B", "B", "C", "C"],
    "Values": [10, 20, 15, 25, 30, 35]
}
df = pd.DataFrame(data)

In [ ]:
def custom_transformation(group):
    group["Normalized"] = (group["Values"] - group["Values"].mean()) / group["Values"].std()
    return group

In [ ]:
transformed_df = df.groupby("Category").apply(custom_transformation)
print(transformed_df)

           Category  Values  Normalized
Category
A        0        A      10   -0.707107
         1        A      20    0.707107
B        2        B      15   -0.707107
         3        B      25    0.707107
C        4        C      30   -0.707107
         5        C      35    0.707107

<ipython-input-4-37eeb2aeb4ab>:1: DeprecationWarning: DataFrameGroupBy.apply operated on the grouping columns. This behavior is deprecated, and in a future version of pandas the grouping columns will be excluded from the operation. Either pass `include_groups=False` to exclude the groupings or explicitly select the grouping columns after groupby to silence this warning.
  transformed_df = df.groupby("Category").apply(custom_transformation)