In [1]:
pip install pandas numpy

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (2.2.2)
Requirement already satisfied: numpy in /usr/local/lib/python3.10/dist-packages (1.26.4)
Requirement already satisfied: python-dateutil>=2.8.2 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: tzdata>=2022.7 in /usr/local/lib/python3.10/dist-packages (from pandas) (2024.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.2->pandas) (1.16.0)

In [2]:
import pandas as pd
import numpy as np

date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data'] = np.random.randint(0,100,size=(len(date_rng)))

df.set_index('date', inplace=True)

monthly_data = df.resample('M').mean()
print(monthly_data)

                 data
date
2022-01-31  57.548387
2022-02-28  47.035714
2022-03-31  47.774194
2022-04-30  47.500000
2022-05-31  61.193548
2022-06-30  58.066667
2022-07-31  47.709677
2022-08-31  44.032258
2022-09-30  50.066667
2022-10-31  45.677419
2022-11-30  49.266667
2022-12-31  47.838710

<ipython-input-2-4cb4d0f59b38>:13: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_data = df.resample('M').mean()

In [3]:
df['rolling_mean'] = df['data'].rolling(window=7).mean()
print(df.head(15))

            data  rolling_mean
date
2022-01-01    70           NaN
2022-01-02    26           NaN
2022-01-03     2           NaN
2022-01-04    76           NaN
2022-01-05    25           NaN
2022-01-06    57           NaN
2022-01-07    88     49.142857
2022-01-08    89     51.857143
2022-01-09    86     60.428571
2022-01-10     3     60.571429
2022-01-11    18     52.285714
2022-01-12    96     62.428571
2022-01-13    87     66.714286
2022-01-14    45     60.571429
2022-01-15    75     58.571429

In [4]:
df['lagged_data'] = df['data'].shift(1)
print(df.head(15))

            data  rolling_mean  lagged_data
date
2022-01-01    70           NaN          NaN
2022-01-02    26           NaN         70.0
2022-01-03     2           NaN         26.0
2022-01-04    76           NaN          2.0
2022-01-05    25           NaN         76.0
2022-01-06    57           NaN         25.0
2022-01-07    88     49.142857         57.0
2022-01-08    89     51.857143         88.0
2022-01-09    86     60.428571         89.0
2022-01-10     3     60.571429         86.0
2022-01-11    18     52.285714          3.0
2022-01-12    96     62.428571         18.0
2022-01-13    87     66.714286         96.0
2022-01-14    45     60.571429         87.0
2022-01-15    75     58.571429         45.0